@import 'common/colors';
@import 'common/common';

html, body {
    background-color: $color-white;
}

#nav-container {
    background: $color-primary;
    
    .navbar-brand {
        color: black !important;
    }

    a {
        color: black !important;
    }
}